[Desktop Entry]
Type=Application
Name=Eclipse IDE for Java Developers
Comment=The essential tools for any Java developer, including a Java IDE, a Git client, XML Editor, Maven and Gradle integration.
Icon=org.eclipse.Java
Exec=eclipse %f
Terminal=false
Categories=Development;IDE;
MimeType=text/x-java;text/x-maven+xml;text/x-gradle;text/x-patch;text/x-diff;x-scheme-handler/eclipse+mpc;
StartupWMClass=Eclipse
